*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0px;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:40px 0px 40px 0px;
}
h4 {
  font-size: 25px;
  padding-top: 40px;
}

#bigBox {
  position: relative;
  border: 6px solid #00b3b4;
  display: inline-block;
  position: relative;
  padding: 25% 10% 25% 10%;
}
#leftGreyBox {
  background-color: #9b9b9b;
  width: 35%;
  border: 3px solid #9b9b9b;
  /*float: left;*/
  padding:20px;
}
#gutter {
  width:5%;
  /*float: left;*/
}
#purpleLineBox {
  position: absolute;
  top: 29%;
  left: 40%;
  width: 50%;
  height: 40.5%;
  border: 3px solid #bb6dff;
  /*float: left;*/
  color: #bb6dff;
  text-align: center;
  overflow: hidden;
}

#purpleLineHead {
  border: 3px solid #bb6dff;
  margin-left: -3px;
  margin-top: -3px;
  margin-right: -3px;
  padding: 5px 5px 5px 5px;
  color: #bb6dff;
}
#abc {
  padding-left: 90px;
}

#numbers {
  float: right;
  color: #bb6dff;
  letter-spacing: 1em;
}
#purpleText {
  font-size: 22px;
  color: #777;
  padding: 25% 25% 25% 25%;
}
#blueBox {
  color: #bb6dff;
  background-color: #a8c2e1;
  border: 3px solid #4a90e2;
  padding: 20px;
}
#subLemon {
  color: #bb6dff;
  background-color: #fff;
  border: 3px solid #666;
  padding: 20px;
}
